/data/
/logs/
/.idea/
/.github/

# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
venv/
env/

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# temp ignore
src/core
src/online_anomaly_detection
src/unsupervised_label_generation
uv.lock
/config/online_anomaly_detection_config.py
/config/unsupervised_label_generation_config.py